/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#2c3e50, 10%);
$background-color: lighten(yellow, 58%);
$font-family: dynamic(calibri);
$checkboxfield-checkbox-color: lighten(red, 10%);